.inputContainer {
  width: 100%;
  margin-bottom: 1.5rem;
}
.input {
  width: 100%;
  padding: 0.4rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.192);
  margin-bottom: 0;
}
.inputLabel {
  margin-bottom: 0.4rem;
  display: block;
}
.errorMsg {
  color: red;
}
