.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 6px 6px gray;
  z-index: 10;
}
.header {
  padding: 1.4rem 4rem;
  background: #f64060;
  color: white;
  padding-bottom: 2rem;
}
.modalBody {
  padding: 4rem 4rem;
}
