.auth {
  min-height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
}
.header {
  text-align: center;
  margin: 2rem 0;
  color: rgba(255, 255, 255, 0.6);
}
.form {
  background: white;
  width: 24rem;
  margin: 2rem auto;
  box-shadow: 1px 4px 4px black;
  padding: 6rem 3rem;
  border-radius: 8px;
}

.form input {
  margin-bottom: 0.4rem;
}
.loginBtn {
  margin: 0 !important;
  margin-top: 1rem !important;
  width: 100%;
}
.registerBtn {
  width: 100%;
  margin: 0 !important;
  margin-top: 2rem !important;
}
