.likeContainer,
.commentContainer {
  text-align: center;
  cursor: pointer;
  transform: all 0.4s;
}
.likeContainer:hover,
.commentContainer:hover {
  background: rgba(128, 128, 128, 0.2);
}
.likeContainer {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.like,
.comment {
  padding: 0.5rem 0.4rem;
  display: inline-block;
  text-align: center;
}

.liked {
  color: #029eb6;
}
